@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default body styles */
body {
  @apply m-0 leading-[1.15];
}
.home-container{
  @apply max-w-[1260px] m-auto
}
/* Main container styling */
.main-container {
  @apply flex flex-col relative h-full bg-white py-3;
}

/* Items container styling */
.items-container {
  @apply max-w-[3000px] flex justify-center items-center xl:max-w-[3000px] overflow-x-hidden;
}

/* Image Grid Container */
.image-grid-container {
  @apply max-w-[1280px] mx-auto px-4 bg-transparent overflow-x-hidden;
}

.image-grid {
  @apply grid gap-4 grid-cols-[repeat(auto-fill,_minmax(100px,_1fr))];
}

/* Horizontal Image Slider */
.horizontal-image-slider {
  @apply flex gap-4 overflow-x-auto ;
}

.horizontal-image-slider::-webkit-scrollbar {
  @apply hidden;
}

/* Horizontal Card List */
.horizontal-card-list {
  @apply flex gap-4 overflow-x-auto pb-2;
}

.horizontal-card-list::-webkit-scrollbar {
  @apply hidden;
}

/* Card styles */
.card {
  @apply bg-white rounded-lg max-w-[179px] min-w-[179px] transition-transform duration-200 border-[0.5px] shadow-[2px_2px_8px_rgba(0,0,0,0.04)];
  text-align: inherit !important;
}

.card-content{
  @apply flex flex-col px-3 items-center   h-full 
}
.card-details{
  @apply flex-1 flex flex-col gap-2 w-full
}
.card-eta{
  @apply bg-gray-200 px-1 py-[2px] text-[9px] w-fit rounded-sm font-medium
}
.card-titles{
  @apply flex-1 flex flex-col
}
.card-unit{
  @apply flex-1 text-[14px] mt-1 font-extralight
}
.card-title{
  @apply line-clamp-2
}
.card-title,.card-price{
  @apply text-[13px] font-medium
}
.card-unit{
  /* @apply mb-2 */
}
.card-footer{
  @apply flex flex-1 justify-between text-center items-center py-3
}
.card-button{
  @apply px-5 py-2 bg-[rgba(240,253,244,0.5)] border text-[12px] border-green-600 rounded-md text-green-700 font-medium
}
/* Product details */
.horizontal-card-list:has(.slidecard){
  @apply gap-2
}
.slidecard{
  @apply min-w-fit
}
.slidecard .card-content{
  @apply p-1
}
/* Section styling */
.section {
  @apply mt-6 px-4;
}

.section-title {
  @apply text-xl font-bold mb-4 text-gray-800;
  color: rgb(28, 28, 28);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

/* Banner container */
.banner-container {
  @apply mb-6 w-full max-w-[1280px] overflow-x-hidden;
}

/* Image styles */
img {
  @apply max-w-full h-auto block;
}

@layer components {

  /**** Global Scrollbar CSS Starts ****/
  /* Width */
  ::-webkit-scrollbar {
    @apply w-1.5
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-sm
  }

  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300
} */

  /**** Global Scrollbar CSS Endss ****/

  /**** Global Heading Paragraph CSS Starts ****/
  .heading {
    @apply mb-2 md:mb-4
  }

  .heading-sm {
    @apply font-medium sm:text-xl
  }

  .heading-md {
    @apply font-medium sm:text-2xl
  }

  .heading-lg {
    @apply font-medium sm:text-3xl
  }

  /* Heading Light */
  .heading-sm-light {
    @apply font-light sm:text-xl
  }

  .heading-md-light {
    @apply font-light sm:text-2xl
  }

  .heading-lg-light {
    @apply font-light sm:text-3xl
  }

  /* Heading Semi-Bold */
  .heading-sm-semibold {
    @apply font-semibold sm:text-xl
  }

  .heading-md-semibold {
    @apply font-semibold sm:text-2xl
  }

  .heading-lg-semibold {
    @apply font-semibold sm:text-3xl
  }

  /* Heading Bold */
  .heading-sm-bold {
    @apply font-bold sm:text-xl
  }

  .heading-md-bold {
    @apply font-bold sm:text-2xl
  }

  .heading-lg-bold {
    @apply font-bold sm:text-3xl
  }

  .para {
    @apply mb-2 md:mb-4
  }

  .para-xs {
    @apply font-medium sm:text-xs
  }

  .para-sm {
    @apply font-medium sm:text-sm
  }

  .para-md {
    @apply font-medium sm:text-base
  }

  .para-lg {
    @apply font-medium sm:text-lg
  }

  /* Para Light */
  .para.sm-light {
    @apply font-light sm:text-sm
  }

  /* Para Semi-Bold */
  .para-xs-semibold {
    @apply font-semibold sm:text-xs
  }

  .para-sm-semibold {
    @apply font-semibold sm:text-sm
  }

  .para-md-semibold {
    @apply font-semibold sm:text-base
  }

  .para-lg-semibold {
    @apply font-semibold sm:text-lg
  }

  .blockquote1 {
    @apply mb-6 border-l-4 border-custom-primary-default pl-4 italic text-gray-500 sm:text-lg md:mb-8 md:pl-6
  }

  /**** Global Heading Paragraph CSS Ends ****/

  /**** Global Image CSS Starts ****/
  .main-img1 {
    @apply relative mb-6 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:mb-8
  }

  .img-box1 {
    @apply h-full w-full object-cover object-center transition duration-200 group-hover:scale-110
  }

  /**** Global Image CSS Ends ****/

  /**** Global List CSS Starts ****/
  .ul1 {
    @apply mb-4 list-inside list-disc marker:text-custom-primary-default marker:text-base marker:mr-1 hover:marker:text-custom-primary-dark md:mb-6
  }

  .li1 {
    @apply para-sm text-gray-700
  }

  /**** Global List CSS Ends ****/

  /**** Global Button CSS Starts ****/
  .btn {
    @apply rounded-md font-sans font-medium uppercase shadow-md shadow-custom-primary-default/20 transition-all cursor-pointer hover:shadow-lg hover:shadow-custom-primary-default/80 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:shadow-none disabled:cursor-not-allowed disabled:opacity-50
  }

  .btn-icon {
    @apply text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-500
  }

  /* Disable Button */
  .btn-disable {
    @apply rounded-md font-sans font-semibold uppercase transition-all opacity-50 cursor-not-allowed disabled:shadow-none disabled:cursor-not-allowed disabled:opacity-50;
  }

  /* Screen Button */
  .btn-main {
    @apply w-full grid grid-cols-4 gap-4
  }

  /* Link Button */
  .btn-xs-link {
    @apply underline font-medium uppercase text-xs text-gray-700 hover:text-gray-900 transition-all cursor-pointer focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:shadow-none disabled:cursor-not-allowed disabled:opacity-50
  }

  .btn-sm-link {
    @apply underline font-medium uppercase text-sm text-gray-700 hover:text-gray-900 transition-all cursor-pointer focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:shadow-none disabled:cursor-not-allowed disabled:opacity-50
  }

  .btn-md-link {
    @apply underline font-medium uppercase text-base text-gray-700 hover:text-gray-900 transition-all cursor-pointer focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:shadow-none disabled:cursor-not-allowed disabled:opacity-50
  }

  /* Primary Button */
  .btn-xs-primary {
    @apply bg-gradient-to-tr from-custom-primary-dark to-custom-primary-default/80 border border-custom-primary-dark py-1.5 px-2 text-xs text-white hover:bg-custom-primary-default
  }

  .btn-sm-primary {
    @apply bg-gradient-to-tr from-custom-primary-dark to-custom-primary-default/80 border border-custom-primary-dark py-2 px-4 text-sm text-white hover:bg-custom-primary-default
  }

  .btn-md-primary {
    @apply bg-gradient-to-tr from-custom-primary-dark to-custom-primary-default/80 border border-custom-primary-dark py-3 px-6 text-base text-white hover:bg-custom-primary-default
  }

  .btn-lg-primary {
    @apply bg-gradient-to-tr from-custom-primary-dark to-custom-primary-default/80 border border-custom-primary-dark py-3.5 px-7 text-lg text-white hover:bg-custom-primary-default
  }

  /* Outline Button */
  .btn-xs-outline {
    @apply bg-white py-1 px-2 border text-xs hover:bg-gray-100
  }

  .btn-xs-outlineprimary {
    @apply bg-white py-1 px-2 border border-custom-primary-dark text-xs text-custom-primary-dark hover:bg-gray-100
  }

  .btn-sm-outlineprimary {
    @apply bg-white py-2 px-4 border border-custom-primary-dark text-sm text-custom-primary-dark hover:bg-gray-100
  }

  .btn-md-outlineprimary {
    @apply bg-white py-3 px-6 border border-custom-primary-dark text-base text-custom-primary-dark hover:bg-gray-100
  }

  .btn-lg-outlineprimary {
    @apply bg-white py-3.5 px-7 border border-custom-primary-dark text-lg text-custom-primary-dark hover:bg-gray-100
  }

  /**** Global Button CSS Ends ****/



  /* Success & Error Input */
  .label-success {
    @apply text-emerald-500 focus-within:text-emerald-500
  }

  .input-success {
    @apply border-emerald-500 ring-emerald-500 focus:border-emerald-500 focus:ring-emerald-500
  }

  .label-error {
    @apply para-xs text-rose-400 focus-within:text-rose-400
  }

  .input-error {
    @apply text-rose-400 border-rose-400 ring-rose-400 focus:border-rose-400 focus:ring-rose-400
  }

  .input-error::placeholder{
    @apply text-rose-400
  }
  .input-disabled{
    @apply bg-black cursor-not-allowed
  }


  /* Upload Input */
  .upload-input{
    @apply flex h-10 w-full border border-gray-300 rounded-md bg-gray-50 px-4 py-2 text-sm text-gray-400 font-thin outline-none drop-shadow-sm transition-all duration-200 ease-in-out file:border-0 file:bg-transparent file:text-gray-600 file:text-sm file:font-medium focus:bg-white focus:ring-1 focus:ring-custom-primary-default/80 focus:drop-shadow-md
  }

  .upload-input.input-error, .upload-input.input-error::file-selector-button {
    @apply text-rose-400 border-rose-400 ring-rose-400 focus:border-rose-400 focus:ring-rose-400
  }

  /* Radio Input */
  .main-box {
    @apply flex flex-col w-72 md:w-80 p-2;
  }

  .label-box {
    @apply relative flex items-center text-nowrap text-sm font-medium text-gray-500 transition-all duration-200 ease-in-out focus-within:text-custom-primary-default cursor-pointer;
  }

  .label-box {
    @apply ml-1 text-sm font-medium text-gray-400 transition-all duration-200 ease-in-out peer-checked:text-custom-primary-default cursor-pointer;
  }

  .label-box.label-error {
    @apply text-rose-400
  }

  .input-main {
    @apply relative flex flex-row justify-start py-2 gap-4;
  }

  /* .input-main2{
    @apply relative flex flex-row justify-start w-72 max-w-80 md:w-80 lg:w-80 py-2 gap-4;
  } */
  .radio-input1 {
    @apply border-rose-400 accent-custom-primary-default hover:accent-custom-primary-default h-4 w-4 transition duration-300 ease-in-out;
  }

  .radio-input1.input-error {
    @apply border-red-500 accent-red-500 hover:accent-red-500
  }

  /* Checkbox Input */
  .radio-input2 {
    @apply border-gray-400 accent-custom-primary-default hover:accent-custom-primary-default h-4 w-4 transition duration-300 ease-in-out;
  }

  
  /**** Global Inputs CSS Ends ****/

  /**** Global Modal CSS Starts ****/
  /* Modal with Backdrop and No Backdrop */
  .modal-nobackdrop {
    @apply absolute top-16 md:left-[30%] lg:left-[40%] sm:left-[18%] mt-1 mx-auto flex flex-wrap justify-center w-fit h-fit z-10 before:fixed before:inset-0 before:w-full before:h-fit
  }

  .modal-backdrop {
    @apply fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-50 before:fixed before:inset-0 before:w-full before:h-full before:bg-black/50 overflow-auto;
  }

  .main-modal {
    @apply relative bg-white shadow-md rounded-md p-6
  }


  .modal-header {
    @apply flex items-center pb-4 border-b border-gray-300
  }

  .modal-body {
    @apply w-full h-fit
    /* max-w-screen-2xl max-h-[45rem] */
    py-6 overflow-auto
  }

  .modal-footer {
    @apply border-t border-gray-300 pt-4 flex justify-end gap-4
  }

  .modal-btn {
    @apply order-last inline-block w-full sm:order-none sm:w-auto
  }

  .modal-close {
    @apply order-2 flex w-1/12 items-start justify-end sm:absolute sm:right-0 sm:order-none sm:mr-1 sm:w-auto xl:mr-3
  }

  /**** Global Modal CSS Ends ****/

  /**** Global Tabs CSS Starts ****/
  .tab-active {
    @apply shrink-0 rounded-t-lg border border-gray-300 border-b-white p-3 para-md text-gray-900
  }

  .tab-inactive {
    @apply shrink-0 border border-transparent p-3 para-md text-gray-400 hover:text-gray-700
  }

  .tabs-inactivebody {
    @apply mt-2 hidden
  }

  .tabs-activebody {
    @apply block pt-1 para-md
  }

  /* Small Tab */
  .tab-active2 {
    @apply flex items-center justify-center shrink-0 rounded-t-lg border border-gray-300 border-b-white p-2 para-xs text-gray-900
  }

  .tab-inactive2 {
    @apply shrink-0 border border-transparent p-2 para-xs text-gray-400 hover:text-gray-700
  }

  .tabs-inactivebody2 {
    @apply mt-2 hidden
  }

  .tabs-activebody2 {
    @apply block pt-1 para-md
  }

  /**** Global Tabs CSS Ends ****/

  /**** Global Table CSS Starts ****/

  .table-main1 {
    @apply w-[98%] mx-1 table-fixed rounded-md border border-gray-200 overflow-x-auto;
  }

  .table-caption1 {
    @apply caption-top para-sm p-2 italic
  }

  .table-head1 {
    @apply bg-gray-100 border-b border-gray-200
  }

  .table-headth1 {
    @apply p-3 text-left para-xs-semibold text-gray-500 uppercase tracking-wider;
  }

  .table-body1 {
    @apply bg-white divide-y divide-gray-200
  }

  .table-bodytr1 {
    @apply rounded-md
  }

  .table-bodytd1 {
    @apply flex-1 p-3 text-left para-sm text-gray-800;
  }

  /* Small Table */
  .table-main2 {
    @apply w-[98%] mx-1 table-fixed rounded-md border border-gray-200 overflow-x-auto;
  }

  .table-caption2 {
    @apply caption-top para-sm p-2 italic
  }

  .table-head2 {
    @apply bg-gray-100 border-b border-gray-200
  }

  .table-headth2 {
    @apply p-3 text-left para-xs-semibold text-gray-500 uppercase tracking-wider;
  }

  .table-body2 {
    @apply bg-white divide-y divide-gray-200
  }

  .table-bodytr2 {
    @apply rounded-md
  }

  .table-bodytd2 {
    @apply flex-1 p-3 text-left para-sm text-gray-800;
  }

  /**** Global Table CSS Ends ****/

  /**** Global Accordion CSS Starts ****/
  .acc-detailsactive1 {
    @apply border-t border-b border-custom-primary-default bg-[#f3f4f8] p-2 [&_summary::-webkit-details-marker]:hidden
  }

  .acc-detailsinactive1 {
    @apply border-t border-b border-gray-300 bg-gray-50 p-2 hover:bg-[#f3f4f8] [&_summary::-webkit-details-marker]:hidden
  }

  .acc-summary1 {
    @apply flex cursor-pointer items-center justify-between px-1 gap-1.5
  }

  .acc-icon1 {
    @apply shrink-0 rounded-full text-gray-900
  }

  .acc-iconsvg1 {
    @apply size-4 shrink-0 transition duration-300 group-open:-rotate-45
  }

  .acc-body1 {
    @apply my-2 border-t border-gray-200
    /* para-sm text-gray-700 */
    ;
  }


  /* Small Accordion */
  .acc-detailsactive2 {
    @apply w-[12rem] rounded border-t border-b border-custom-primary-default bg-[#f3f4f8] p-2 [&_summary::-webkit-details-marker]:hidden
  }

  /* add below class name for accordian two position handling*/
  .acc-detailsinactive2 {
    @apply w-[12rem] rounded border-t border-b border-gray-200 bg-gray-50 p-2 hover:bg-[#f3f4f8] [&_summary::-webkit-details-marker]:hidden
  }

  .inactive-accordion2 {
    @apply h-fit w-48 relative border border-gray-300 rounded bg-gray-50 p-2;
  }

  .acc-summary2 {
    @apply flex items-center justify-between px-1 gap-1
  }

  .acc-icon2 {
    @apply shrink-0 rounded-full text-gray-900
  }

  .acc-iconsvg2 {
    @apply size-3 shrink-0 transition duration-300 group-open:-rotate-45
  }

  .acc-body2 {
    @apply h-80 overflow-y-auto overflow-x-hidden
    /* para-sm text-gray-700 */
    ;
  }

  /**** Global Accordion CSS Ends ****/

  /**** Global Layout CSS Starts ****/

  /* MostlyUsed CSS */
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-start {
    @apply flex justify-start items-center gap-4;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  /* Section */
  .main-section1 {
    @apply bg-gray-50 mx-1 my-3 p-2 w-[98%] rounded-md border border-gray-300
  }

  .main-section2 {
    @apply bg-gray-50 my-5 p-2 w-full rounded-md border border-gray-300
  }

  /* LSB Drawer */
  .lsb-drawer {
    @apply relative border border-gray-600 flex flex-col w-1/4 min-w-96 max-w-4xl h-[calc(100vh-76px)] bg-white z-20
  }

  .lsb-body {
    @apply flex-grow order-first overflow-auto
  }

  .lsb-footer {
    @apply order-last sticky bottom-0 w-full h-[7vh] p-2 bg-white
  }

  /* RSB Drawer */
  .rsb-drawer {
    @apply flex flex-col relative w-[42vh] h-[91.1vh] bg-white z-50
  }

  .rsb-body {
    @apply flex-grow order-first overflow-auto
  }

  .rsb-footer {
    @apply order-last sticky bottom-0 w-full h-[7vh] p-2 bg-white
  }

  /**** Global Layout CSS Ends ****/

  /**** Global Icon CSS Starts ****/
  .lsb-icon {
    @apply size-6 fill-slate-200 transition-all duration-200
  }

  .lsb-activeicon {
    @apply size-8 bg-white rounded-[4px];

    svg {
      @apply fill-custom-primary-default
    }
  }

  .rsb-icon {
    @apply size-5 fill-gray-700 hover:fill-gray-900 transition-all duration-200
  }

  .table-icon {
    @apply w-5 h-5 fill-custom-primary-default hover:fill-custom-primary-dark transition-all duration-200
  }

  .tab-icon {
    @apply w-6 h-6 mb-2 transition-all duration-200
  }

  .btn-icon {
    @apply w-6 h-6 fill-slate-200 hover:fill-white transition-all duration-200
  }

  .btn-iconactive {
    @apply bg-white active:fill-neutral-700
  }

  /**** Global Icon CSS Ends ****/

}



/*****select styles****/


.option-body {
  background-color: white;
  margin-top: 5px;
  box-shadow: 0px 0px 10px 8px rgba(221, 224, 226, 0.8);
  ;
}

.option-list {
  padding: 10px;
}

.option-list:hover {
  background-color: #889FA4;
  color: white;
}



.loading.active {
  display: block;
}

.loading {
  display: none;
}



.lsbicons {
  @apply w-12 h-12 rounded bg-white
}


.lls {
  svg {
    fill: #069FB1;
    background-color: white;
    border-radius: 4px;
  }
}

.lls:hover {
  svg {
    fill: #069FB1;
    background-color: white;
    border-radius: 4px;
  }
}

.lg-modal {
  @apply w-full max-w-4xl;
}

.md-modal{
  @apply w-full max-w-[45rem];
}

.lead-mobile-no .react-international-phone-input:focus {
  width: 100% !important;
  outline: none !important;
}

.form-control {
  width: 100%;
  outline: none;
  border-radius: 5px
}

.custom_css_agGrid>div {
  align-content: center;
}

.custom_css_agGrid:hover {
  background-color: #F0F0F0 !important;
}


.loading.active {
  display: block;
}

.loading {
  display: none;
}

/* form container for forms such as signup,profile,settings etc */
.form-container {
  @apply grid sm:grid-cols-2 grid-cols-1 gap-x-4
}

.miscelleous-design .main-section1 {
  margin-top: 0px !important;
}

.partnerMapcontainer>#feature {
  display: none;
}

#zoomIn_tooltip .react-tooltip-arrow {
  top:34px !important;
  right: 8px !important;
}
.ag-cell-value:last-child{
  overflow: visible !important;
 }

 .modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 10001;
  overflow-y: auto;
  animation: overlayFadeIn 400ms ease;
}

@keyframes overlayFadeIn{
  0% {
    background-color: rgba(0, 0, 0, 0);
    display: none;
}
1% {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
}
100% {
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
}
}
body:has(.modal-overlay) {
  overflow: hidden;
}

/* Custom Scrollbar */
.custom-scrollbar {
  @apply overflow-y-scroll;
}
.custom-scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-200; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-lg; /* Thumb (handle) color */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700; /* Hover effect */
}
