@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background:0 0% 100%;
    --foreground:0 0% 3.9%;
    --card:0 0% 100%;
    --card-foreground:0 0% 3.9%;
    --popover:0 0% 100%;
    --popover-foreground:0 0% 3.9%;
    --primary:0 72.2% 50.6%;
    --primary-foreground:0 85.7% 97.3%;
    --secondary:0 0% 96.1%;
    --secondary-foreground:0 0% 9%;
    --muted:0 0% 96.1%;
    --muted-foreground:0 0% 45.1%;
    --accent:0 0% 96.1%;
    --accent-foreground:0 0% 9%;
    --destructive:0 84.2% 60.2%;
    --destructive-foreground:0 0% 98%;
    --border:0 0% 89.8%;
    --input:0 0% 89.8%;
    --ring:0 72.2% 50.6%;
    --radius:0.5rem;
    --chart-1:12 76% 61%;
    --chart-2:173 58% 39%;
    --chart-3:197 37% 24%;
    --chart-4:43 74% 66%;
    --chart-5:27 87% 67%;
  }

  .dark {
    --background:0 0% 3.9%;
    --foreground:0 0% 98%;
    --card:0 0% 3.9%;
    --card-foreground:0 0% 98%;
    --popover:0 0% 3.9%;
    --popover-foreground:0 0% 98%;
    --primary:0 72.2% 50.6%;
    --primary-foreground:0 85.7% 97.3%;
    --secondary:0 0% 14.9%;
    --secondary-foreground:0 0% 98%;
    --muted:0 0% 14.9%;
    --muted-foreground:0 0% 63.9%;
    --accent:0 0% 14.9%;
    --accent-foreground:0 0% 98%;
    --destructive:0 62.8% 30.6%;
    --destructive-foreground:0 0% 98%;
    --border:0 0% 14.9%;
    --input:0 0% 14.9%;
    --ring:0 72.2% 50.6%;
    --chart-1:220 70% 50%;
    --chart-2:160 60% 45%;
    --chart-3:30 80% 55%;
    --chart-4:280 65% 60%;
    --chart-5:340 75% 55%;
  }
}

/* Reset default body styles */
body {
  @apply m-0 leading-[1.15];
}

.home-container {
  @apply max-w-[1260px] m-auto
}

/* Main container styling */
.main-container {
  @apply flex flex-col relative h-full bg-white py-3;
}

/* Items container styling */
.items-container {
  @apply max-w-[3000px] flex justify-center items-center xl:max-w-[3000px] overflow-x-hidden;
}

/* Image Grid Container */

/* Horizontal Image Slider */
.horizontal-image-slider {
  @apply flex gap-4 overflow-x-auto;
}

.horizontal-image-slider::-webkit-scrollbar {
  @apply hidden;
}

/* Horizontal Card List */
.horizontal-card-list {
  @apply flex gap-4 overflow-x-auto pb-2;
}

.horizontal-card-list::-webkit-scrollbar {
  @apply hidden;
}

/* Card styles */
.card {
  @apply bg-white rounded-lg max-w-[179px] min-w-[179px] transition-transform duration-200 border-[0.5px] shadow-[2px_2px_8px_rgba(0_0_0_0.04)];
  text-align:inherit !important;
}

.card-content {
  @apply flex flex-col px-3 items-center h-full
}

.card-details {
  @apply flex-1 flex flex-col gap-2 w-full
}

.card-eta {
  @apply bg-gray-200 px-1 py-[2px] text-[9px] w-fit rounded-sm font-medium
}

.card-titles {
  @apply flex-1 flex flex-col
}

.card-unit {
  @apply flex-1 text-[14px] mt-1 font-extralight
}

.card-title {
  @apply line-clamp-2
}

.card-title,
.card-price {
  @apply text-[13px] font-medium
}

.card-unit {
  /* @apply mb-2 */
}

.card-footer {
  @apply flex flex-1 justify-between text-center items-center py-3
}

.card-button {
  @apply px-5 py-2 bg-[rgba(240_253_244_0.5)] border text-[12px] border-green-600 rounded-md text-green-700 font-medium
}

/* Product details */
.horizontal-card-list:has(.slidecard) {
  @apply gap-2
}

.slidecard {
  @apply min-w-fit
}

.slidecard .card-content {
  @apply p-1
}

/* Section styling */
.section {
  @apply mt-6 px-4;
}

.section-title {
  @apply text-xl font-bold mb-4 text-gray-800;
  color:rgb(28, 28, 28);
  font-size:24px;
  font-weight:600;
  line-height:32px;
}

/* Banner container */
.banner-container {
  @apply mb-6 w-full max-w-[1280px] overflow-x-hidden;
}

/* Image styles */
img {
  @apply max-w-full h-auto block;
}

@layer components {
  ::-webkit-scrollbar {
    @apply w-1.5;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-sm
  }

  .para-xs {
    @apply font-medium sm:text-xs
  }

  .para-sm {
    @apply font-medium sm:text-sm
  }

  .para-md {
    @apply font-medium sm:text-base
  }

  .para-lg {
    @apply font-medium sm:text-lg
  }

  /* Para Light */
  .para.sm-light {
    @apply font-light sm:text-sm
  }

  /* Para Semi-Bold */
  .para-xs-semibold {
    @apply font-semibold sm:text-xs
  }

  .para-sm-semibold {
    @apply font-semibold sm:text-sm
  }

  .para-md-semibold {
    @apply font-semibold sm:text-base
  }

  .para-lg-semibold {
    @apply font-semibold sm:text-lg
  }

  .blockquote1 {
    @apply mb-6 border-l-4 border-custom-primary-default pl-4 italic text-gray-500 sm:text-lg md:mb-8 md:pl-6
  }

  /**** Global Heading Paragraph CSS Ends ****/

  /**** Global Image CSS Starts ****/
  .main-img1 {
    @apply relative mb-6 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:mb-8
  }

  .img-box1 {
    @apply h-full w-full object-cover object-center transition duration-200 group-hover:scale-110
  }

  /**** Global Button CSS Starts ****/
  .btn {
    @apply rounded-md font-sans font-medium uppercase shadow-md shadow-custom-primary-default/20 transition-all cursor-pointer hover:shadow-lg hover:shadow-custom-primary-default/80 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:shadow-none disabled:cursor-not-allowed disabled:opacity-50
  }

  .btn-icon {
    @apply text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-500
  }

  /* Disable Button */
  .btn-disable {
    @apply rounded-md font-sans font-semibold uppercase transition-all opacity-50 cursor-not-allowed disabled:shadow-none disabled:cursor-not-allowed disabled:opacity-50;
  }


  /* Link Button */
  .btn-xs-link {
    @apply underline font-medium uppercase text-xs text-gray-700 hover:text-gray-900 transition-all cursor-pointer focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:shadow-none disabled:cursor-not-allowed disabled:opacity-50
  }

  .btn-sm-link {
    @apply underline font-medium uppercase text-sm text-gray-700 hover:text-gray-900 transition-all cursor-pointer focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:shadow-none disabled:cursor-not-allowed disabled:opacity-50
  }

  .btn-md-link {
    @apply underline font-medium uppercase text-base text-gray-700 hover:text-gray-900 transition-all cursor-pointer focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:shadow-none disabled:cursor-not-allowed disabled:opacity-50
  }

  /* Primary Button */
  .btn-xs-primary {
    @apply bg-gradient-to-tr from-custom-primary-dark to-custom-primary-default/80 border border-custom-primary-dark py-1.5 px-2 text-xs text-white hover:bg-custom-primary-default
  }

  .btn-sm-primary {
    @apply bg-gradient-to-tr from-custom-primary-dark to-custom-primary-default/80 border border-custom-primary-dark py-2 px-4 text-sm text-white hover:bg-custom-primary-default
  }

  .btn-md-primary {
    @apply bg-gradient-to-tr from-custom-primary-dark to-custom-primary-default/80 border border-custom-primary-dark py-3 px-6 text-base text-white hover:bg-custom-primary-default
  }

  .btn-lg-primary {
    @apply bg-gradient-to-tr from-custom-primary-dark to-custom-primary-default/80 border border-custom-primary-dark py-3.5 px-7 text-lg text-white hover:bg-custom-primary-default
  }

  /* Outline Button */
  .btn-xs-outline {
    @apply bg-white py-1 px-2 border text-xs hover:bg-gray-100
  }

  .btn-xs-outlineprimary {
    @apply bg-white py-1 px-2 border border-custom-primary-dark text-xs text-custom-primary-dark hover:bg-gray-100
  }

  .btn-sm-outlineprimary {
    @apply bg-white py-2 px-4 border border-custom-primary-dark text-sm text-custom-primary-dark hover:bg-gray-100
  }

  .btn-md-outlineprimary {
    @apply bg-white py-3 px-6 border border-custom-primary-dark text-base text-custom-primary-dark hover:bg-gray-100
  }

  .btn-lg-outlineprimary {
    @apply bg-white py-3.5 px-7 border border-custom-primary-dark text-lg text-custom-primary-dark hover:bg-gray-100
  }

  /**** Global Button CSS Ends ****/

  /**** Global Inputs CSS Starts ****/
  .main-box1 {
    /* @apply relative w-64 md:w-64 lg:w-full px-2 pt-4 pb-2; */
    @apply relative w-full
    /*px-2*/
    pt-4 pb-2;
  }

  .label-box1 {
    @apply block w-full pb-1 para-xs text-gray-800 transition-all duration-200 ease-in-out focus-within:text-custom-primary-default capitalize;
  }

  .input-box1 {
    @apply h-10 w-full border border-gray-300 rounded-md bg-gray-50 px-4 para-sm outline-none drop-shadow-sm transition-all duration-200 ease-in-out focus:bg-white focus:ring-1 focus:ring-custom-primary-default/80 focus:drop-shadow-md;
  }

  .input-main1 {
    @apply relative flex items-center;
  }

  /* Success & Error Input */
  .label-success {
    @apply text-emerald-500 focus-within:text-emerald-500
  }

  .input-success {
    @apply border-emerald-500 ring-emerald-500 focus:border-emerald-500 focus:ring-emerald-500
  }

  .label-error {
    @apply para-xs text-rose-400 focus-within:text-rose-400
  }

  .input-error {
    @apply text-rose-400 border-rose-400 ring-rose-400 focus:border-rose-400 focus:ring-rose-400
  }

  .input-error::placeholder {
    @apply text-rose-400
  }

  .input-disabled {
    @apply bg-black cursor-not-allowed
  }

  /* Helper Input */
  .helper-box1 {
    @apply absolute block pt-1 text-xs font-medium text-gray-500 opacity-0 transition-all duration-200 ease-in-out focus-within:opacity-100;
  }

  .helper-box2 {
    @apply absolute right-0 block pt-1 text-xs font-medium text-gray-500 opacity-0 transition-all duration-200 ease-in-out focus-within:opacity-100;
  }

  /* Sufix & Prefix Input */
  .pre-box1 {
    @apply absolute left-1 para-sm transition-all duration-200 ease-in-out;
  }

  .pre-input1 {
    @apply relative pl-11 pr-6
  }

  .suf-box1 {
    @apply absolute right-1 para-sm transition-all duration-200 ease-in-out
  }

  .suf-input1 {
    @apply relative pl-6 pr-11
  }

  .presuf-input1 {
    @apply relative pl-11 pr-11
  }

  /* Upload Input */
  .upload-input1 {
    @apply flex h-10 w-full border border-gray-300 rounded-md bg-gray-50 px-4 py-2 text-sm text-gray-400 font-thin outline-none drop-shadow-sm transition-all duration-200 ease-in-out file:border-0 file:bg-transparent file:text-gray-600 file:text-sm file:font-medium focus:bg-white focus:ring-1 focus:ring-custom-primary-default/80 focus:drop-shadow-md
  }

  .upload-input1.input-error,
  .upload-input1.input-error::file-selector-button {
    @apply text-rose-400 border-rose-400 ring-rose-400 focus:border-rose-400 focus:ring-rose-400
  }



  /**** Global Modal CSS Starts ****/
  .main-modal1 {
    @apply relative flex flex-wrap bg-white px-4 py-2 shadow-md sm:flex-nowrap sm:items-center sm:justify-center sm:gap-3 sm:pr-8 md:px-8
  }

  .modal-body1 {
    @apply order-1 mb-2 inline-block w-11/12 max-w-screen-sm text-sm text-gray-500 sm:order-none sm:mb-0 sm:w-auto md:text-base
  }

  .modal-btn1 {
    @apply order-last inline-block w-full sm:order-none sm:w-auto
  }

  .modal-close1 {
    @apply order-2 flex w-1/12 items-start justify-end sm:absolute sm:right-0 sm:order-none sm:mr-1 sm:w-auto xl:mr-3
  }

  /* Error Modal */
  .error-main1 {
    @apply bg-red-100 text-red-800 p-2 rounded-md relative flex flex-row justify-center items-start gap-1;
  }

  .error-header1 {
    @apply para-sm-semibold capitalize pr-1
  }

  .error-body1 {
    @apply block para-sm sm:inline max-sm:mt-2 max-sm:ml-0
  }

  .error-close1 {
    @apply min-w-7 size-7 hover:bg-red-200 rounded-lg transition-all p-2 cursor-pointer fill-red-500
  }

  /* Warning Modal */
  .warning-main1 {
    @apply bg-yellow-100 text-yellow-800 p-2 rounded-md relative flex flex-row justify-center items-start gap-1;
  }

  .warning-header1 {
    @apply para-sm-semibold capitalize pr-1
  }

  .warning-body1 {
    @apply block para-sm sm:inline max-sm:mt-2 max-sm:ml-0
  }

  .warning-close1 {
    @apply min-w-7 size-7 hover:bg-yellow-200 rounded-lg transition-all p-2 cursor-pointer fill-yellow-500
  }

  /* Success Modal */
  .success-main1 {
    @apply bg-green-100 text-green-800 p-2 rounded-md relative flex flex-row justify-center items-start gap-1;
  }

  .success-header1 {
    @apply para-sm-semibold capitalize pr-1
  }

  .success-body1 {
    @apply block para-sm sm:inline max-sm:mt-2 max-sm:ml-0
  }

  .success-close1 {
    @apply min-w-7 size-7 hover:bg-green-200 rounded-lg transition-all p-2 cursor-pointer fill-green-500
  }

  /* Info Modal */
  .info-main1 {
    @apply bg-blue-100 text-blue-800 p-2 rounded-md relative flex flex-row justify-center items-start gap-1;
  }

  .info-header1 {
    @apply para-sm-semibold capitalize pr-1
  }

  .info-body1 {
    @apply block para-sm sm:inline max-sm:mt-2 max-sm:ml-0
  }

  .info-close1 {
    @apply min-w-7 size-7 hover:bg-blue-200 rounded-lg transition-all p-2 cursor-pointer fill-blue-500
  }



  .modal-footer1 {
    @apply border-t border-gray-300 pt-4 flex justify-end gap-4
  }

  /**** Global Modal CSS Ends ****/


  /**** Global Layout CSS Starts ****/

  /* MostlyUsed CSS */
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-start {
    @apply flex justify-start items-center gap-4;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  /* Section */
  .main-section1 {
    @apply bg-gray-50 mx-1 my-3 p-2 w-[98%] rounded-md border border-gray-300
  }

  .main-section2 {
    @apply bg-gray-50 my-5 p-2 w-full rounded-md border border-gray-300
  }

  /* LSB Drawer */
  .lsb-drawer {
    @apply relative border border-gray-600 flex flex-col w-1/4 min-w-96 max-w-4xl h-[calc(100vh-76px)] bg-white z-20
  }

  .lsb-body {
    @apply flex-grow order-first overflow-auto
  }

  .lsb-footer {
    @apply order-last sticky bottom-0 w-full h-[7vh] p-2 bg-white
  }

  /**** Global Layout CSS Ends ****/

  /**** Global Icon CSS Starts ****/
  .lsb-icon {
    @apply size-6 fill-slate-200 transition-all duration-200
  }

  .lsb-activeicon {
    @apply size-8 bg-white rounded-[4px];

    svg {
      @apply fill-custom-primary-default
    }
  }


  .btn-icon {
    @apply w-6 h-6 fill-slate-200 hover:fill-white transition-all duration-200
  }

  .btn-iconactive {
    @apply bg-white active:fill-neutral-700
  }

  /**** Global Icon CSS Ends ****/

}

.modal-overlay {
  background-color:rgba(0, 0, 0, 0.7);
  bottom:0px;
  left:0px;
  position:fixed;
  right:0px;
  top:0px;
  z-index:10001;
  overflow-y:auto;
  animation:overlayFadeIn 400ms ease;
}

@keyframes overlayFadeIn {
  0% {
    background-color:rgba(0, 0, 0, 0);
    display:none;
  }

  1% {
    background-color:rgba(0, 0, 0, 0.1);
    display:block;
  }

  100% {
    background-color:rgba(0, 0, 0, 0.7);
    display:block;
  }
}

body:has(.modal-overlay) {
  overflow:hidden;
}

/* Custom Scrollbar */
.custom-scrollbar {
  @apply overflow-y-scroll;
}

.custom-scrollbar-hide::-webkit-scrollbar {
  display:none;
}

.custom-scrollbar::-webkit-scrollbar {
  width:8px;
  /* Adjust scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-200;
  /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-lg;
  /* Thumb (handle) color */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
  /* Hover effect */
}